%h1= @item.name
= sortable "inv_count", "sort by inventory count"
= sortable "updated_at", "sort by updated at"
= sortable "bp_slots", "sort by backpack slots"
= sortable "single_inv_count", "one inventory"
- @players.each do |player|
  - unless player.hide?
    %br
    %img{:src => player.avatar}
    %a(href="http://steamcommunity.com/profiles/#{player.steam_id}" target="_blank") #{player.name}
    %br
    = "traded: #{player.traded ? 'yes' : 'no'}"
    %br
    - inv = player.inventories.where(:item_id => @item.id).first
    = "#{inv.item_count} | inventory count: #{player.inventories.count}"
    = link_to "hide", controller: "players", action: "hide", id: player.id
    = link_to "traded", controller: "players", action: "traded", id: player.id
